{% extends "base.html" %}
 
{% block title %}About{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style="padding-top=30px">
  <div class="container text-center">
    <h1 class="display-3">About</h1>
  </div>
</div>
<div class="text-center">
  <h2>About Us</h2>
  <p>Mike and Jonathan are both freshmen at the College. Mike is interested in studying Computer Science, and Jonathan is interested in studying Applied Math and Computer Science.</p>
</div>
<div class="text-center">
  <h3>{{WordCount}}</h3>
</div>


{% endblock %}
