{% extends "base.html" %}
 
{% block title %}Homepage{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-3">ImageN</h1>
    <p class="lead">An Image Analysis Tool By Mike Bao and Jonathan Huang</p>
  </div>
</div>
<div class="bot10 center text-center">
  <h2>Select your file</h2>
  <form>
     <span class="btn btn-default btn-file">
       Browse <input type="file">
     </span>
    <div class="form-horizontal text-center">
      <input type="file" class="form-control-file center" id="file1" placeholder="Select File">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
{% endblock %}
